.modal,
.form-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.modal {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.form-container {
  background: #fff;
  border-radius: 10px;
}

.modal-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.modal-desc {
  margin-bottom: 1.5rem;
  text-align: center;
}

.group {
  align-items: end;
}

.register-button {
  margin-bottom: 1rem;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
  width: 70%;
  align-self: center;
}

.register-button:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
}

.text-muted {
  font-size: 0.8rem;
  text-align: center;
  color: rgba(33, 37, 41, 0.75);
}

.text-primary {
  color: rgb(13, 110, 253);
}

.row {
  width: 100%;
  flex: 1 1 0px;
}
