.component {
  margin-bottom: 1rem;
}

textarea::-webkit-scrollbar {
  display: none;
}

.mantine-PasswordInput-root {
  margin-bottom: calc(0.625rem / 2);
}

input,
textarea,
.mantine-Input-input {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mantine-Input-input:has(> input:focus),
input:focus,
textarea:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

div.error .mantine-Input-input:has(> input:focus),
div.error input:focus,
div.error textarea:focus {
  border-color: #fa5252 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(253, 27, 38, 0.25) !important;
}

div.error input::placeholder {
  color: #adb5bd !important;
}

div.error div.mantine-TextInput-section svg {
  stroke: #adb5bd !important;
}

label {
  margin-bottom: 0.5rem;
}
