textarea::-webkit-scrollbar {
  display: none;
}

input,
textarea {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus,
textarea:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

div.error input:focus,
div.error textarea:focus {
  border-color: #fa5252;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(253, 27, 38, 0.25);
}

label {
  margin-bottom: 0.5rem;
}
